<!DOCTYPE html>
<html>
	<head>
        <title>Price Check</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    
    
    <div style="margin-top: 20%">
	    <h2>Internal Server Error! (500)</h2>
	    <p style="text-align: center">We have been notified of the error and will correct it as soon as possible. We apologize for the inconvenience and appreciate your patience.</p>
	    <div class ="text-center">
		    <form action="/">
		 		<button class="btn btn-info btn-lg">Home</button>
			</form>    
		</div>    	
    </div>


</html>